body {
  background-color: #FFF;
  margin: 0 auto;

}

div {
  position: relative;
  display: inline-block;
  width: 100%;

}
.row2 {
  margin: auto;
  text-align: center;

}
img.kitty1 {
  border-color: #294AFC;
  border-style: solid;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;

}
img.kitty2 {
  border-color: #808080;
  border-style: solid;
  padding-bottom: 4px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;

}
img.kitty3 {
  border-top: 4px;
  border-right: 4px;
  border-color: #E79630;
  border-style: solid;
  clear: both;
